body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f7fe;
}

.container {
  display: block;
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
select {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.city {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.city-info {
  display: flex;
  flex-direction: column;
}

.city h2 {
  margin: 0;
  font-size: 22px;
}

.date {
  font-size: 16px;
  color: #666;
}

.time {
  font-size: 36px;
  padding-left: 20px;
}

.city:hover {
  background-color: #f0eefc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
