body,
h1,
h2 {
  font-family: "Inter", sans-serif;
}
.container {
  margin: 30px 15px;
  padding: 20px;
}

.time {
  font-size: 36px;
}

.time small {
  font-size: 18px;
  line-height: 36px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}
.city:hover {
  background-color: #f0eefc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
